<!DOCTYPE html>
<html data-ng-app="jobs" data-ng-cloak>  <!--Se a aplicação inteira vai sar do angular, você coloca essa diretiva no body
                        Para permitir que o validador do w3c valide o codigo com o angular coloca-se a
                        palavra data- antes de todas as diretivas
                       data-ng-cloak remove a apresentação das expressões, ou reduz o tempo em alguns casos-->
  <head>
    <meta charset="utf-8">
    <title>Página!</title>
  </head>
  <body>

    <main  data-ng-controller="UserController as vm"><!--Controlador que será utilizado - apelido vm por utilizar no js-->
    <h1>User</h1>
    <form>
      <input type="text" id="name" data-ng-model="vm.user.name">
      <input type="password" id="password" data-ng-model="vm.user.password">
      <button type="button" name="button" data-ng-click="vm.save(vm.user)">Login</button>
    </form>

    <button type="button" data-ng-click="vm.deleteSelected(vm.users)">Delete Selected</button>
    <ul data-ng-init="vm.initUsers()"> <!--Função que é chamada quando este elemento for apresentado na tela-->
      <li data-ng-repeat="user in vm.users">
        <input type="checkbox" data-ng-model="user.selected">
        {{user.name}}
      </li>
    </ul>

    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/config/api-config.js"></script>
    <script src="js/services/user-service.js"></script>
    <script src="js/controllers/user-controller.js"></script>


<!--Quando definimos no corpo do HTML:
<script type="text/javascript">
let app = angular.module('jobs', []); //se não passar o array vazio ele vai buscar nas variaveis de dependencia >> <script src="js/app.js"></script>

app.controller('UserController', ($scope) =>{
    $scope.name = 'teste';

    $scope.save = ()=>{
      console.log($scope.name, $scope.password); //Variaveis do angular são definidas com "$"
    }
});
</script>-->

  </body>
</html>
