{{outlet}}

<!--Conteúdo que será apresentado-->
{{upcase "Books"}}


<table class="table table-striped">
<tbody>

  {{#each model as |book|}}
   {{#unless book.isNew}}
    {{book-row model=book number=3 delete="delete"}} <!--Componente tem sempre noms compostos (book-row)-->
   {{/unless}}  
  {{/each}}

</tbody>
</table>
