{{outlet}}

<!--Conteúdo que será apresentado-->
{{upcase}}
 Books

<table class="table table-striped">
<tbody>

  {{#each model as |book|}}
    {{book-row model=book}} <!--Componente tem sempre noms compostos (book-row)-->
  {{/each}}

</tbody>
</table>
