<td>   {{#link-to 'book' model.id}} {{model.name}} {{model.image}}{{/link-to}} </td>

<!-- O default é div, poderia ser outra tag, de acordo com a necessidade, para importar dentro de uma tabela pois é uma tagName de tabela usa-se   {{book-row book=book}}  -->
